.modal-header{
    background-color: #263956;

    }

.modal-title{
    color:white;
    font-family: roboto;
}
.close{
    color: white;

}
.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #cc3d43;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.btn-warning{
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #cc3d43;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

h8{
    font-size: 20px;
    text-align: center;
}